.m10 {
margin: 10px;
}
.p30{
    padding: 30px;
}
.flex{
    display: flex;
}
.btn-reset{
    padding: 0;
    border: none;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.title-section{
    font-size: 60px;
    margin: 193px 36px 0px;
}
.skt{
    background-image:url("./img/14424b7e71dd96e9491f5e1cbc0b2db3.jpeg");
    background-size:cover;
    background-repeat: no-repeat;
    flex-direction: column ;
}

.section-parent{
    justify-content: center;
}

.section-1{
    flex-direction: column;
    padding: 10px 20px ;
    justify-content: space-between;
    width: 200px;
}

.hdr{
    font-size: 24px;
    margin: 0 30px;
    color: inherit;
}

.txt-scs{
    margin-top: 20px;
    color:inherit ;
}

.btn{
    font-size: 14px;
    background-color: #84c0a0;
    margin: 40px 13px 0;
    padding: 10px 30px;
    border-radius: 10px;
}

.pict1{
    width: 500px;
height: 500px;
}

.pict2{
    width: 1000px;
height: 500px;
}
